#include "base/base.config"
#include "chips/rk3588_aarch64.config"


#BR2_PACKAGE_RECOVERY=n
#BR2_PACKAGE_RECOVERY_NO_UI=y


#BR2_PACKAGE_UPDATE=y
#BR2_PACKAGE_RKSCRIPT=y
#BR2_PACKAGE_RKUPDATE=y
#BR2_PACKAGE_OPENSSL=y
#BR2_ROOTFS_OVERLAY="board/rockchip/common/recovery"

BR2_PACKAGE_CURLFTPFS=y
#BR2_PACKAGE_SSHFS=y

BR2_PACKAGE_SQUASHFS=y
BR2_PACKAGE_SQUASHFS_GZIP=y
BR2_PACKAGE_SQUASHFS_LZ4=y
BR2_PACKAGE_SQUASHFS_LZMA=y
BR2_PACKAGE_SQUASHFS_LZO=y
BR2_PACKAGE_SQUASHFS_XZ=y

BR2_PACKAGE_SAMBA4=y
BR2_PACKAGE_NFS_UTILS=y
BR2_PACKAGE_NFS_UTILS_RPC_NFSD=y
BR2_PACKAGE_NILFS_UTILS=y
BR2_PACKAGE_LIBTIRPC=y
BR2_PACKAGE_RPCBIND=y

BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_OPENSSH_CLIENT=y
